{% extends 'agvoybase.html.twig' %}

{% block main %}
    <h1 class="text-center">Accueil</h1>
	<div id="search"></div>
	<div class="row">
		
		<div class="col-sm-9"> <!--  partie centrale -->
		
		<h1>A propos</h1>
		</div>
		
		
		
		
	<div class="col-sm-3"> <!-- Contact -->
		<div class="well"><h2>Contact	</h2>
		<p>bsdjb zjd zku kuzg d</p></div>
		</div>
	
	</div>

   
    
{% endblock %} {# main #}
