{% extends 'agvoybase.html.twig' %}

{% block main %}
    <h1 class="text-center">Accueil</h1>
	<div id="search"></div>
	<div class="row">
		
		<div class="col-sm-9"> <!--  partie centrale -->
		
		<h1>A propos</h1>
		<p>{# {{ presentation.apropos }} #}</p>
		</div>
		
		
		
		
	<div class="col-sm-3"> <!-- Contact -->
		<div class="well"><h2>N'attendez plus!	</h2>
		<p>Contactez-nous par téléphone au : <br />{# {{ presentation.apropos }} #}</p>
		<p>Ou rendez-vous dans notre agence :
		<br />{# {{ presentation.adresse }} #}</p>
		</div>
		
		</div>
	
	</div>

   
    
{% endblock %} {# main #}
