{% extends 'agvoybase.html.twig' %}

{% block main %}
    <h1 class="text-center">Contact</h1>
	<div id="search"></div>
	<div class="row">
		<div class="col-sm-3"> <!-- A propos -->
			<div class="well"><h2>Téléphone	</h2><p>{# {{ presentation.telephone }} #}</p></div>
		</div>
		<div class="col-sm-6"> <!--  partie centrale -->
		
		
		</div>
		
		
		
	<div class="col-sm-3"> <!-- Contact -->
		<div class="well"><h2>Aller en agence</h2>
		<p></p></div>
		</div>
	
	</div>

   
    
{% endblock %} {# main #}
